body {
    background-image: linear-gradient(to left, #fafaf3 50%, #FFEDED 50%);
}

.leftBackground{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.registerButton, .searchButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.buttonIcons{
    width: 35px;
    margin: 0 10px 0;
}

.menuContents{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    margin-bottom: 50px;
}